/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/
body {
  background-image: url('/images/black-brick-wall-texture.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
}

.clickable {
  cursor: pointer;
}
